<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit;
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="bundleTransformer">
      <section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core" />
    </sectionGroup>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <loggingConfiguration name="" tracingEnabled="false" defaultCategory="General" logWarningsWhenNoCategoriesMatch="false">
    <listeners>
      <add name="Error Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\Wistron\AppLogs\ErrorLog.log" footer="----------------------------------" formatter="ErrorFormatter" header="" rollInterval="Day" traceOutputOptions="DateTime, Timestamp" filter="All" />
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\Wistron\AppLogs\InfoLog.log" footer="----------------------------------" formatter="InfoFormatter" header="" rollInterval="Day" traceOutputOptions="DateTime, Timestamp" filter="All" />
      <add name="Event Log Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="QMS" formatter="ErrorFormatter" log="QMS" machineName="." traceOutputOptions="Timestamp, Callstack" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp(local)}&#xA; Message: {message}&#xA; Category: {category}&#xA; Priority: {priority}&#xA; EventId: {eventid}&#xA; Severity: {severity}&#xA; Title:{title}&#xA; Machine: {localMachine}&#xA; App Domain: {localAppDomain}&#xA; ProcessId: {localProcessId}&#xA; Process Name: {localProcessName}&#xA; Thread Name: {threadName}&#xA; Win32 ThreadId:{win32ThreadId}&#xA;" name="InfoFormatter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp(local)}{newline} Message: {message}{newline} Category: {category}{newline} Priority: {priority}{newline} EventId: {eventid}{newline} Severity: {severity}{newline} Title:{title}{newline} Machine: {localMachine}{newline} App Domain: {localAppDomain}{newline} ProcessId: {localProcessId}{newline} Process Name: {localProcessName}{newline} Thread Name: {threadName}{newline} Win32 ThreadId:{win32ThreadId}{newline} Extended Properties: {dictionary({key} - {value}{newline})}" name="ErrorFormatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" autoFlush="true" name="General">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
          <add name="Event Log Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors  Warnings">
        <listeners>
          <add name="Error Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="DMSWEB" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="EmailFrom" value="dms.support@tataelectronics.co.in" />
    <add key="EmailUserName" value="dms.canopus" />
    <add key="EmailPassword" value="Tepl@2023#6" />
    <add key="SMTPHOST" value="172.21.5.125" />
    <add key="SMTPPORT" value="25" />
    <add key="DefaultPassword" value="admin" />
    <add key="LogPath" value="C:\Wistron\AppLogs\DCCNPI\" />
    <add key="TempFolder" value="C:\Wistron\FilePath\TempPath\" />
    <add key="StoragePath" value="C:\Wistron\FilePath\DCCNPI" />
    <add key="BackUpPath" value="C:\Wistron\FilePath\DCCNPIBackup" />
    <add key="DraftFolder" value="DraftDocuments" />
    <add key="PublishedFolder" value="PublishedDocuments" />
    <add key="EditableFolder" value="EditableDocuments" />
    <add key="ReadableFolder" value="ReadableDocuments" />
    <add key="TemplateFolder" value="TemplateDocuments" />
    <add key="ExtDocumentFolder" value="ExternalDocuments" />
    <add key="EncryptionKey" value="T3pl2@22" />
    <add key="CompanyCode" value="WIST" />
    <add key="WorkflowID" value="464DBB1A-0AF6-4D32-BC59-9C7C43305432" />
	 <add key="PrintWorkflowID" value="646c8b43-e55b-4117-bc18-681461bca63f" />
    <add key="websiteURL" value="http://localhost:5555" />
    <add key="ViewerURL" value="http://172.21.5.96:12003/docviewer" />
    <add key="LoginRegEx" value="^[a-zA-Z]+[a-zA-Z0-9+_.-]+@tataelectronics.co.in$" />
    <add key="FormsFileTypes" value="doc,docx,xls,xlsx,ppt,pptx" />
    <add key="ReadableFileTypes" value="pdf" />
    <add key="FileTypes" value="doc,docx,xls,xlsx,ppt,pptx" />
    <add key="AllowedFileSize" value="500" /><!--Size is in MB-->
    <add key="ApprovalMatrix" value="ApprovalMatrix" />
    <add key="LandingWebsite" value="http://localhost:5555/" />
    <add key="SiteName" value="QMSArea" /> <!--ShopFloor,OfficeArea,QMSArea-->
    <add key="DomainName" value="tataelectronics.co.in" />
  </appSettings>
  <connectionStrings>
    <add name="WFDBCon" connectionString="Server=103.169.237.94,14191;Database=TESSDMS;User Id=TESSDMS_DEV;password=Tessdmsdev@123;" providerName="System.Data.SqlClient" />
    <add name="DBCon" connectionString="Server=103.169.237.94,14191;Database=TESSDMS;User Id=TESSDMS_DEV;password=Tessdmsdev@123;" providerName="System.Data.SqlClient" />
    <!--<add name="WFDBCon" connectionString="Server=CGBSBLRLAP10098;Database=Wistron-DMSNPI;User Id=admin;password=admin" providerName="System.Data.SqlClient" />
		<add name="DBCon" connectionString="Server=CGBSBLRLAP10098;Database=Wistron-DMSNPI;User Id=admin;password=admin" providerName="System.Data.SqlClient" />-->
    <!--<add name="WFDBCon" connectionString="Data Source=172.21.5.100\DMSSQLSERVER;Initial Catalog=QDMSNPI;Integrated Security=true;" providerName="System.Data.SqlClient" />
		<add name="DBCon" connectionString="Data Source=172.21.5.100\DMSSQLSERVER;Initial Catalog=QDMSNPI;Integrated Security=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DataBaseEntities" connectionString="metadata=res://*/Models.Database.EntityDataModel.csdl|res://*/Models.Database.EntityDataModel.ssdl|res://*/Models.Database.EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.21.5.100\DMSSQLSERVER;initial catalog=QDMSNPI;user id=sa;password=qms123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="On">
      <error statusCode="401" redirect="~/Unauthorized" />
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Index" timeout="2880"></forms>
    </authentication>
    <!--<identity impersonate="false" />-->
    <compilation targetFramework="4.7.2" debug="true" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="1024000" executionTimeout="3600" />
    <!--1000MB - 1024*1000MB file-->
    <!--200 MB = 1024*200MB = 204800-->
    <pages>
      <namespaces>
        <add namespace="MvcSiteMapProvider.Web.Html" />
        <add namespace="MvcSiteMapProvider.Web.Html.Models" />
      </namespaces>
    </pages>
    <!--<siteMap enabled="true">
			<providers>
				<clear />
				<add siteMapFile="Mvc.sitemap" name="AspNetXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" />
			</providers>
		</siteMap>-->
  </system.web>
  <location path="QMSAdmin">
    <system.web>
      <authorization>
        <allow roles="QMS Approver" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="TemplateDownload">
    <system.web>
      <authorization>
        <allow roles="QMS Reviewer" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- maxAllowedContentLength is in bytes (B)  -->
        <requestLimits maxAllowedContentLength="1024000000" />
        <!-- 100 MB -->
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".json" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
    </staticContent>
    <modules>
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <bundleTransformer xmlns="http://tempuri.org/BundleTransformer.Configuration.xsd">
    <core>
      <css>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
        </translators>
        <postProcessors>
          <add name="UrlRewritingCssPostProcessor" type="BundleTransformer.Core.PostProcessors.UrlRewritingCssPostProcessor, BundleTransformer.Core" useInDebugMode="false" />
        </postProcessors>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".css" assetTypeCode="Css" />
        </fileExtensions>
      </css>
      <js>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
        </translators>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".js" assetTypeCode="JavaScript" />
        </fileExtensions>
      </js>
    </core>
  </bundleTransformer>
</configuration>
<!--ProjectGuid: 5F1FB09A-9139-4D4C-8D41-EEFAD3F46DF0-->