@{
    ViewBag.Title = "DMS - Home";
    ViewBag.Description = "dashboard - admin";
    Layout = "~/Views/Shared/_Default.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="databox bg-white radius-bordered" style="margin-bottom:0px; height:80px">                    
                    <div class="databox-right">
                        <span class="databox-number themesecondary text-align-center">QMS Site</span>
                        <div class="databox-text darkgray text-align-center" style="font-size:20px;text-decoration:underline"><a href="http://tepl.qms.com">http://tepl.qms.com</a></div>                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="databox bg-white radius-bordered"  style="margin-bottom:0px; height:80px">                    
                    <div class="databox-right">
                        <span class="databox-number themethirdcolor text-align-center">NPM 103 Site</span>
                        <div class="databox-text darkgray text-align-center" style="font-size:20px;text-decoration:underline"><a href="http://tepl.npm103.com">http://tepl.npm103.com</a></div>                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="databox bg-white radius-bordered"  style="margin-bottom:0px; height:80px">                    
                    <div class="databox-right">
                        <span class="databox-number themeprimary  text-align-center">NPM 104 Site</span>
                        <div class="databox-text darkgray  text-align-center" style="font-size:20px;text-decoration:underline"><a href="http://tepl.npm104.com">http://tepl.npm104.com</a></div>                        
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>


@section PageScripts{
    


    <script>
        

    </script>
}