<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
	</configSections>
	<loggingConfiguration name="" tracingEnabled="false" defaultCategory="General" logWarningsWhenNoCategoriesMatch="false">
		<listeners>
			<add name="Error Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="L:\Logs\AppLogs\QDMSWS\ErrorLog.log" footer="----------------------------------" formatter="ErrorFormatter" header="" rollInterval="Day" traceOutputOptions="DateTime, Timestamp" filter="Error" />
			<add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="L:\Logs\AppLogs\QDMSWS\InfoLog.log" footer="----------------------------------" formatter="InfoFormatter" header="" rollInterval="Day" traceOutputOptions="DateTime, Timestamp" filter="Information" />
			<add name="Event Log Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="QDMSWS" formatter="ErrorFormatter" log="QDMSWS" machineName="." traceOutputOptions="Timestamp, Callstack" filter="Critical" />
		</listeners>
		<formatters>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp(local)}&#xA; Message: {message}&#xA; Category: {category}&#xA; Priority: {priority}&#xA; EventId: {eventid}&#xA; Severity: {severity}&#xA; Title:{title}&#xA; Machine: {localMachine}&#xA; App Domain: {localAppDomain}&#xA; ProcessId: {localProcessId}&#xA; Process Name: {localProcessName}&#xA; Thread Name: {threadName}&#xA; Win32 ThreadId:{win32ThreadId}&#xA;" name="InfoFormatter" />
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp(local)}{newline} Message: {message}{newline} Category: {category}{newline} Priority: {priority}{newline} EventId: {eventid}{newline} Severity: {severity}{newline} Title:{title}{newline} Machine: {localMachine}{newline} App Domain: {localAppDomain}{newline} ProcessId: {localProcessId}{newline} Process Name: {localProcessName}{newline} Thread Name: {threadName}{newline} Win32 ThreadId:{win32ThreadId}{newline} Extended Properties: {dictionary({key} - {value}{newline})}" name="ErrorFormatter" />
		</formatters>
		<categorySources>
			<add switchValue="All" autoFlush="true" name="General">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
					<add name="Event Log Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" autoFlush="true" name="Error">
				<listeners>
					<add name="Error Rolling Flat File Trace Listener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</allEvents>
			<notProcessed switchValue="All" name="Unprocessed Category">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</notProcessed>
			<errors switchValue="All" name="Logging Errors  Warnings">
				<listeners>
					<add name="Error Rolling Flat File Trace Listener" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="ServiceAccountName" value="tepl\dms.canopus" />
		<add key="ServiceAccountPassword" value="Tepl@2023$6" />
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="TEPLQMS" />
		<add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
		<add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
		<add key="owin:AutomaticAppStartup" value="false" />
		<add key="EmailFrom" value="dms.support@tataelectronics.co.in" />
		<add key="EmailUserName" value="dms.support" />
		<add key="EmailPassword" value="Tepl@2023#3" />
		<add key="SMTPHOST" value="172.21.5.125" />
		<add key="SMTPPORT" value="25" />
		<add key="DefaultPassword" value="admin" />
		<add key="LogPath" value="L:\Logs\AppLogs\QDMSWS\" />
		<add key="StoragePath" value="D:\FilePath\QDMSNPI" />
		<add key="TempFolder" value="D:\FilePath\TempPath\" />
		<add key="BackUpPath" value="D:\FilePath\QDMSNPIBackup" />
		<add key="EncryptionKey" value="T3pl2@22" />
		<add key="CompanyCode" value="TEPL" />
		<add key="WorkflowID" value="464DBB1A-0AF6-4D32-BC59-9C7C43305432" />
		<add key="DraftFolder" value="DraftDocuments" />
		<add key="EditableFolder" value="EditableDocuments" />
		<add key="ReadableFolder" value="ReadableDocuments" />
		<add key="TemplateFolder" value="TemplateDocuments" />
		<add key="websiteURL" value="http://172.21.5.166:11000/" />
		<add key="LoginRegEx" value="^[a-zA-Z]+[a-zA-Z0-9+_.-]+@tataelectronics.co.in$" />
		<add key="FileTypes" value="doc,docx,pdf,xls,xlsx,ppt,pptx" />
		<add key="AllowedFileSize" value="150" /><!--Size is in MB-->
		<add key="ApprovalMatrix" value="ApprovalMatrix" />
		<add key="LandingWebsite" value="http://172.21.5.166:11000/" />
		<add key="siteURL" value="http://tepldmsapp01:1000/sites/QDMS/" />
	</appSettings>
	<connectionStrings>
		<!--<add name="DBCon" connectionString="Data Source=172.21.5.100\DMSSQLSERVER;Initial Catalog=QDMSNPI;Integrated Security=true;" providerName="System.Data.SqlClient" />-->
		<add name="DBCon" connectionString="Data Source=172.21.5.168;Initial Catalog=QDMSNPI;user id=sa;password=T3P1_H4r@21$;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.1.0" newVersion="13.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>