@{
    ViewBag.Title = "DMS - Request Details";
}

<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="cuwidget-header bordered-bottom bordered-blue">
                <span class="cuwidget-caption" style="font-size:25px !important;"> <b>Request Details </b></span>
                <div style="display:inline-block;line-height:36px;">
                    <span class="cuwidget-caption" style="font-size: 24px !important; padding-left: 5px; padding-right: 5px; background-color: antiquewhite;"> <b>Workflow Stage - @ViewBag.Data.CurrentStage</b></span>
                    @{
                        if (ViewBag.isQMSAdmin == true || ViewBag.isProjectAdmin == true)
                        {
                            <a href="javascript:DeleteDocument();" class="btn btn-redcolor btn-xs add" style="font-size:13px;font-weight:bold;">
                                <i class="fa fa-remove"></i>Delete Document
                            </a>
                        }
                    }
                </div>
                <div>
                    
                </div>
            </div>
            <div>
                @Html.Partial("~/Views/Request/RequestView.cshtml")
            </div>
            <div>
                @Html.Partial("~/Views/ApproveRequest/WFHistoryView.cshtml")
            </div>            
        </div>
    </div>
</div>

@section PageScripts{
    <link href="~/assets/css/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/assets/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/datatable/ZeroClipboard.js"></script>
    <script src="~/assets/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/assets/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/datatable/datatables-init.js"></script>
    <script src="~/assets/js/bootbox/bootbox.js"></script>

    <script>
        $(document).ready(function () {
            InitiateWFHistoryDataTable.init();
        });

        $("#btnSubmit").click(function () {            
            if ($("#DOCFile").val() != "" && $("#DOCFile2").val() != "") {
                $("#DOCFile").removeClass("manfieldredborder");
                $("#DOCFile2").removeClass("manfieldredborder");
                var fileData = new FormData();
                var catCode = '';
                catCode = $("#divCatCode").text();
                fileData.append("documentguid", $("#divDocumentID").text());
                fileData.append("WFExecutionID", $("#divWFExecutionID").text());
                fileData.append('doccategorycode', $("#divCatCode").text());
                fileData.append('doccategoryname', $("#divCatName").text());
                fileData.append('departmentcode', $("#divDeptCode").text());
                fileData.append('departmentname', $("#divDeptName").text());
                fileData.append('sectioncode', $("#divSecCode").text());
                fileData.append('sectionname', $("#divSecName").text());
                fileData.append('projectcode', $("#divProjCode").text());
                fileData.append('projectname', $("#divProjName").text());
                fileData.append('ProjectTypeID', $("#divProjectTypeID").text());
                fileData.append('ProjectTypeCode', $("#divProjectTypeCode").text());
                fileData.append('ProjectID', $("#divProjectID").text());
                fileData.append('DocumentNo', $("#divDocumentNo").text());
                fileData.append('comments', $("#txtComments").val().trim());
                fileData.append('DocumentDescription', $("#DocumentDescription").val().trim());
                fileData.append('EditableDocumentName', $("#divEditableDocumentName").text());
                fileData.append('ReadableDocumentName', $("#divReadableDocumentName").text());
                fileData.append('RevisionReason', '');
                
                //Files
                var fileUpload = $("#DOCFile").get(0);
                var files = fileUpload.files;
                var ext = ''; var fileSize = 0; var isProceed = false;
                for (var i = 0; i < files.length; i++) {
                    ext = files[i].name.substr(files[i].name.lastIndexOf('.') + 1).toLowerCase();
                    fileSize = files[i].size;
                    fileData.append(files[i].name, files[i]);
                }
                //File Type Check                
                if (catCode == 'FR')
                    isProceed = IsFileTypeAllowed($("#divFormsFileTypes").text(), ext);
                else
                    isProceed = IsFileTypeAllowed($("#divFileTypes").text(), ext);
                if (isProceed == false) { return false; }
                //File Size Check
                isProceed = IsFileSizeAllowed(fileSize, $("#divAllowedFileSize").text());
                if (isProceed == false) { return false; }


                //Files - Readable Document
                var fileUpload2 = $("#DOCFile2").get(0);
                var files2 = fileUpload2.files;
                var ext2 = ''; var fileSize2 = 0;
                for (var z = 0; z < files2.length; z++) {
                    ext2 = files2[z].name.substr(files2[z].name.lastIndexOf('.') + 1).toLowerCase();
                    fileSize2 = files2[z].size;
                    fileData.append(files2[z].name, files2[z]);
                }
                //File Type Check
                isProceed = IsFileTypeAllowed($("#divReadableFileTypes").text(), ext2);
                if (isProceed == false) { return false; }
                //File Size Check
                isProceed = IsFileSizeAllowed(fileSize2, $("#divAllowedFileSize").text());
                if (isProceed == false) { return false; }

                if (isProceed == true) {
                    $.ajax({
                        url: "/DocumentInitiate/SubmitDocument",
                        dataType: "json",
                        type: "POST",
                        beforeSend: function () {
                            $("#overlay").show();
                            $("#overlay").addClass('modal-backdrop fade in');
                            $("#sidebar").addClass('modal-backdrop fade in');
                        },
                        complete: function () {
                            $("#overlay").hide();
                            $("#overlay").removeClass('modal-backdrop fade in');
                            $("#sidebar").removeClass('modal-backdrop fade in');
                        },
                        contentType: false,
                        processData: false,
                        cache: false,
                        data: fileData,
                        success: function (data) {
                            if (data.success) {
                                if (data.message == 'failed') {
                                    $('.btn-danger').trigger('click');
                                    $('.modal-body').html('Error While Saving the Document.');
                                }
                                else {
                                    $('.btn-success').trigger('click');
                                    $('.modal-body').html('Document Submitted Successfully.');
                                    $("#DOCFile").val(''); $("#txtComments").val();
                                    //redirect after success altert close
                                    $('#modal-success').on('hide.bs.modal', function () {
                                        window.location = '/Inbox';
                                    })
                                }
                            }
                        },
                        error: function (xhr) {
                            $('.btn-danger').trigger('click');
                            $('.modal-body').html('Error while saving document. ' + xhr.message);
                        }
                    });
                }
                else {
                    alert('Something wrong with File Type or File Size');
                    return false;
                }
            }
            else {
                $("#DOCFile").removeClass("manfieldredborder"); $("#DOCFile2").removeClass("manfieldredborder");
                if ($("#DOCFile").val() == "" && $("#DOCFile2").val() == "") {
                    $("#DOCFile").addClass("manfieldredborder"); $("#DOCFile2").addClass("manfieldredborder");
                    $('.btn-warning').trigger('click');
                    $('.modal-body').html('Editable & Readable Documents are Mandatory');
                }
                else if ($("#DOCFile").val() == "") {
                    $("#DOCFile").addClass("manfieldredborder");
                    $('.btn-warning').trigger('click');
                    $('.modal-body').html('Editable Document is Mandatory');
                }
                else if ($("#DOCFile2").val() == "") {
                    $("#DOCFile2").addClass("manfieldredborder");
                    $('.btn-warning').trigger('click');
                    $('.modal-body').html('Readable Document is Mandatory');
                }
                return false;
            }
            return false;
        });

        $("#btnReSubmit").click(function () {
            if ($("#DOCFile").val() != "" && $("#DOCFile2").val() != "" && (($("#RevisionReason").val() != undefined && $("#RevisionReason").val().trim() != '') || $("#RevisionReason").val() == undefined)) {
                $("#DOCFile").removeClass("manfieldredborder");
                $("#DOCFile2").removeClass("manfieldredborder");
                $("#RevisionReason").removeClass("manfieldredborder");
                var fileData = new FormData();
                var catCode = '';
                catCode = $("#divCatCode").text();
                fileData.append("documentguid", $("#divDocumentID").text());
                fileData.append("DocumentNo", $("#divDocumentNo").text());
                fileData.append('doccategorycode', $("#divCatCode").text());
                fileData.append("filepath", $("#divEditableFilePath").text());
                fileData.append("filepath2", $("#divReadableFilePath").text());
                fileData.append('comments', $("#txtComments").val().trim());
                fileData.append('DraftVersion', $("#divDraftVersion").text());
                fileData.append('WFExecutionID', $("#divWFExecutionID").text());
                fileData.append('ProjectTypeID', $("#divProjectTypeID").text());
                fileData.append('ProjectID', $("#divProjectID").text());
                 fileData.append('DocumentDescription', $("#DocumentDescription").val().trim());
                fileData.append('EditableDocumentName', $("#divEditableDocumentName").text());
                fileData.append('ReadableDocumentName', $("#divReadableDocumentName").text());
                if ($("#RevisionReason").val() != null && $("#RevisionReason").val() != undefined)
                    fileData.append('RevisionReason', $("#RevisionReason").val().trim());
                else
                    fileData.append('RevisionReason', '');
                
                //Files - Editable Document
                var fileUpload = $("#DOCFile").get(0);
                var files = fileUpload.files;
                var ext = ''; var fileSize = 0; var isProceed = false;
                for (var i = 0; i < files.length; i++) {
                    ext = files[i].name.substr(files[i].name.lastIndexOf('.') + 1).toLowerCase();
                    fileSize = files[i].size;
                    fileData.append(files[i].name, files[i]);
                }
                //File Type Check
                if (catCode == 'FR')
                    isProceed = IsFileTypeAllowed($("#divFormsFileTypes").text(), ext);
                else
                    isProceed = IsFileTypeAllowed($("#divFileTypes").text(), ext);
                if (isProceed == false) { return false; }
                //File Size Check
                isProceed = IsFileSizeAllowed(fileSize, $("#divAllowedFileSize").text());
                if (isProceed == false) { return false; }

                //Files - Readable Document
                var fileUpload2 = $("#DOCFile2").get(0);
                var files2 = fileUpload2.files;
                var ext2 = ''; var fileSize2 = 0;
                for (var z = 0; z < files2.length; z++) {
                    ext2 = files2[z].name.substr(files2[z].name.lastIndexOf('.') + 1).toLowerCase();
                    fileSize2 = files2[z].size;
                    fileData.append(files2[z].name, files2[z]);
                }
                //File Type Check
                isProceed = IsFileTypeAllowed($("#divReadableFileTypes").text(), ext2);
                if (isProceed == false) { return false; }
                //File Size Check
                isProceed = IsFileSizeAllowed(fileSize2, $("#divAllowedFileSize").text());
                if (isProceed == false) { return false; }

                if (isProceed == true) {
                    $.ajax({
                        url: "/Request/ReSubmitDocument",
                        dataType: "json",
                        type: "POST",
                        beforeSend: function () {
                            $("#overlay").show();
                            $("#overlay").addClass('modal-backdrop fade in');
                            $("#sidebar").addClass('modal-backdrop fade in');
                        },
                        complete: function () {
                            $("#overlay").hide();
                            $("#overlay").removeClass('modal-backdrop fade in');
                            $("#sidebar").removeClass('modal-backdrop fade in');
                        },
                        contentType: false,
                        processData: false,
                        cache: false,
                        data: fileData,
                        success: function (data) {
                            if (data.success) {
                                if (data.message == 'failed') {
                                    $('.btn-danger').trigger('click');
                                    $('.modal-body').html('Error While Saving the Document.');
                                }
                                else if (data.message == 'itemexists') {
                                    $('.btn-warning').trigger('click');
                                    $('.modal-body').html('Document already exists');
                                }
                                else {
                                    $('.btn-success').trigger('click');
                                    $('.modal-body').html('Document Re-Submitted Successfully.');
                                    $("#DOCFile").val(''); $("#txtComments").val();
                                    //redirect after success altert close
                                    $('#modal-success').on('hide.bs.modal', function () {
                                        window.location = '/Inbox';
                                    })
                                }
                            }
                        },
                        error: function (xhr) {
                            $('.btn-danger').trigger('click');
                            $('.modal-body').html('Error while saving document.');
                        }
                    });
                }
                else {
                    alert('Something is wrong while Submitting.');
                    return false;
                }
            }
            else {
                //alert('in Else');
                $("#RevisionReason").removeClass("manfieldredborder");
                $("#DOCFile").removeClass("manfieldredborder"); $("#DOCFile2").removeClass("manfieldredborder");
                var ermsg = '';
                if ($("#RevisionReason").val() != undefined && $("#RevisionReason").val().trim() == '') {
                    $("#RevisionReason").addClass("manfieldredborder");                    
                    ermsg = 'Revision Reason';
                }
                if ($("#DOCFile").val() == "") {
                    $("#DOCFile").addClass("manfieldredborder");
                    ermsg += '<br />'
                    ermsg += 'Editable Document';
                }
                if ($("#DOCFile2").val() == "") {
                    $("#DOCFile2").addClass("manfieldredborder");
                    ermsg += '<br />'
                    ermsg += 'Readable Document';
                }
                $('.btn-warning').trigger('click');
                $('.modal-body').html(ermsg);
                return false;
            }
            return false;
        });


        function DownloadDocument(docURL, docVersion) {
            //alert(docURL)
            $.ajax({
                url: '/Request/DownloadDocument_OLD',
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                beforeSend: ShowProgressBar(),
                complete: HideProgressBar(),
                cache: false,
                async: true,
                data: JSON.stringify({ URL: docURL, versionNo: docVersion }),
                success: function (data) {
                    if (data.success) {
                        
                    }
                },
                error: function (xhr) {
                    alert('error ' + xhr.message);
                }
            });
        }

        function DeleteDocument() {
            bootbox.confirm("Are you sure to Delete?", function (result) {
                if (result) {
                    var DocumentID = $("#divDocumentID").text();

                    $.ajax({
                        url: '/Request/DeleteDocument',
                        dataType: "json",
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        beforeSend: ShowProgressBar(),
                        complete: HideProgressBar(),
                        cache: false,
                        async: true,
                        data: JSON.stringify({ DocumentID: DocumentID }),
                        success: function (data) {
                            if (data.success) {
                                $('.btn-success').trigger('click');
                                $('.modal-body').html('Document Deleted Successfully.');

                                //redirect after success altert close
                                $('#modal-success').on('hide.bs.modal', function () {
                                    window.location = '/Admin/PendingDocuments';
                                })
                            }
                        },
                        error: function (xhr) {
                            alert('error ' + xhr.message);
                        }
                    });
                }
            });
        }
    </script>
}

