@{
    ViewBag.Title = "DMS - Print Request";
    Layout = "~/Views/Shared/_Default.cshtml";
}
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header">
                <span class="widget-caption topfocus" tabindex='1' style="font-size:25px !important;"><b>Print Request</b></span>
            </div>
            <div class="widget-body">
                <!-- Start of Replaced Form Content -->
                <div class="container-fluid">
                    <!-- Use container-fluid for full-width -->
                    <div class="row">
                        <!-- Left Column -->
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Application ID :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="applicationId" value="12345" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Applicant :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="applicant" value="Yatish Rai" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Dept. Name :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="deptName" value="Reliability & QOC Dept." />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Receiver :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="receiver" value="yatish.rai" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Plant :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="plant" value="Plant 1" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Receiver Dept. ID :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="receiverDeptId" value="BMQ100" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Receiver Dept. Name :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="receiverDeptName" value="Reliability & QOC Dept." />
                                </div>
                            </div>
                        </div>

                        <!-- Right Column -->
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Apply Date :</label>
                                <div class="col-sm-8">
                                    <input title="Apply Date" class="form-control" id="applydate" type="date">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Dept. ID :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="deptId" value="BMQ100" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Doc. No. :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="docNo" value="ABC123" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Receiver Name :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="receiverName" value="Yatish Rai" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Receiver ID :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="receiverId" value="BMQ100" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-left">
                        <button class="btn btn-secondary" onclick="searchByDocumentName()">Search by Document Name</button>
                        <button class="btn btn-secondary" onclick="searchByMetaData()">Search by Meta Data</button>
                    </div>
                    <br />
                    <!-- Editable Table Section -->
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead style="background-color: #e8e8e8;">
                                    <tr>
                                        <th>Seq</th>
                                        <th>Doc. No</th>
                                        <th>Doc. Name</th>
                                        <th>Version No</th>
                                        <th>Effective Date</th>
                                        <th>Output Type</th>
                                        <th>Apply Value</th>
                                        <th>Page Lists</th>
                                        <th>Copy Numbers</th>
                                        <th>Control Type</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>TES-RGL-TALIP-MPS-236</td>
                                        <td>Standard Operating Procedure for Rolex Check</td>
                                        <td>A</td>
                                        <td>2024-10-15</td>
                                        <td>
                                            <select class="form-control" id="outputType">
                                                <option>Paper</option>
                                                <option>Digital</option>
                                            </select>
                                        </td>
                                        <td><input type="checkbox" checked /></td>
                                        <td><input type="text" class="form-control" id="applyValue1" value="1" /></td>
                                        <td><input type="text" class="form-control" id="pageLists1" value="1" /></td>
                                        <td><input type="text" class="form-control" id="copyNumbers1" value="Control" /></td>
                                        <td><button class="btn btn-danger">Delete</button></td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- Replace Edit link with buttons -->

                        </div>
                    </div>
                    <br />
                    <!-- Print Location Section -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Print Location :</label>
                                <div class="col-sm-4">
                                    <select class="form-control" id="printLocation">
                                        <option>Rolex, FATP, IPQC</option>
                                        <option>Other Location</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Apply Reason :</label>
                                <div class="col-sm-10">
                                    <label><input type="radio" name="applyReason" id="applyReasonNew" checked /> New</label>
                                    <label><input type="radio" name="applyReason" id="applyReasonUpgrade" /> Upgrade</label>
                                    <label><input type="radio" name="applyReason" id="applyReasonLost" /> Lost</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Apply Description :</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="applyDescription" value="Prisms" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Submit Buttons -->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-primary">Submit</button>
                            <button class="btn btn-secondary">Draft</button>
                            <button class="btn btn-danger">Cancel</button>
                        </div>
                    </div>

                    <!-- Approver List Section -->
                    <div class="row">
                        <div class="col-md-12">
                            <label><strong>Approver Lists :</strong></label>
                        </div>
                    </div>
                </div>
                <!-- End of Replaced Form Content -->
            </div>



        </div>
    </div>
</div>


<!-- Modal Structure -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="modalDocNo">Doc. Subject</label>
                            <input type="text" class="form-control" id="modalDocNo">
                        </div>
                        <div class="form-group">
                            <label for="modalDocName">Doc. No.</label>
                            <input type="text" class="form-control" id="modalDocName">
                        </div>
                        <div class="form-group">
                            <label for="modalVersionNo">Author Dept. ID</label>
                            <input type="text" class="form-control" id="modalVersionNo">
                        </div>
                        <div class="form-group">
                            <label for="modalEffectiveDateFrom">Effective Date From</label>
                            <input type="date" class="form-control" id="modalEffectiveDateFrom" onchange="validateDates()">
                        </div>
                        <div class="form-group">
                            <label for="modalEffectiveDateTo">Effective Date To</label>
                            <input type="date" class="form-control" id="modalEffectiveDateTo" onchange="validateDates()">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary" onclick="searchByDocumentName()">Search</button>
                <button type="button" class="btn btn-primary" onclick="saveChanges()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Search Metadata Modal -->
<div class="modal fade" id="searchMetadataModal" tabindex="-1" role="dialog" aria-labelledby="searchMetadataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchMetadataModalLabel">Search by Metadata</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="plantSelect">Plant</label>
                            <select class="form-control" id="plantSelect">
                                <option>Select Plant</option>
                                <option>Plant 1</option>
                                <option>Plant 2</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="bigCategorySelect">Big Category</label>
                            <select class="form-control" id="bigCategorySelect">
                                <option>Select Big Category</option>
                                <option>Category 1</option>
                                <option>Category 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="classificationSelect">Classification</label>
                            <select class="form-control" id="classificationSelect">
                                <option>Select Classification</option>
                                <option>Classification 1</option>
                                <option>Classification 2</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="smallCategorySelect">Small Category</label>
                            <select class="form-control" id="smallCategorySelect">
                                <option>Select Small Category</option>
                                <option>Small Category 1</option>
                                <option>Small Category 2</option>
                            </select>
                        </div>
                    </div>
                </div>

                <hr style="border: 1px solid gray;">

                <div class="form-group">
                    <label for="docSubject">Doc. Subject</label>
                    <input type="text" class="form-control" id="docSubject">
                </div>
                <div class="form-group">
                    <label for="authorDeptId">Author Dept. ID</label>
                    <input type="text" class="form-control" id="authorDeptId">
                </div>

                <button type="button" class="btn btn-primary" onclick="addFakeRow()">Filter</button>

                <!-- Table to Display Results -->
                <table class="table mt-3" id="resultsTable">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Doc. Name</th>
                            <th>Doc. No</th>
                            <th>Version No</th>
                            <th>Effective Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Rows will be added here -->
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<script>
    function addFakeRow() {
        const tableBody = document.getElementById('resultsTable').getElementsByTagName('tbody')[0];

        // Create a new row
        const newRow = tableBody.insertRow();

        // Create cells and add content
        const cell1 = newRow.insertCell(0);
        const cell2 = newRow.insertCell(1);
        const cell3 = newRow.insertCell(2);
        const cell4 = newRow.insertCell(3);
        const cell5 = newRow.insertCell(4);

        cell1.innerHTML = '<input type="checkbox">';
        cell2.innerHTML = 'Fake Document Name'; // Replace with dynamic data as needed
        cell3.innerHTML = '123456'; // Replace with dynamic data as needed
        cell4.innerHTML = '1.0'; // Replace with dynamic data as needed
        cell5.innerHTML = '2024-01-01'; // Replace with dynamic data as needed
    }
</script>

<script>
    function validateDates() {
        const fromDateInput = document.getElementById('modalEffectiveDateFrom');
        const toDateInput = document.getElementById('modalEffectiveDateTo');

        const fromDate = new Date(fromDateInput.value);
        const toDate = new Date(toDateInput.value);

        if (fromDate && toDate && fromDate > toDate) {
            alert("The 'Effective Date To' must be later than or equal to 'Effective Date From'.");
            toDateInput.value = ""; // Clear the To date if it is invalid
        }
    }
</script>


<script>
    function searchByMetaData() {
        // Show the modal
        $('#searchMetadataModal').modal('show');
    }
    // Function to handle the search logic
    function searchByDocumentName() {
        $('#editModal').modal('show');
    }

    // Function to save the modal changes (dummy logic for demo)
    function saveChanges() {
        const docNo = document.getElementById('modalDocNo').value;
        const docName = document.getElementById('modalDocName').value;
        const versionNo = document.getElementById('modalVersionNo').value;
        const effectiveDate = document.getElementById('modalEffectiveDate').value;
        const outputType = document.getElementById('modalOutputType').value;
        const applyValue = document.getElementById('modalApplyValue').value;
        const pageLists = document.getElementById('modalPageLists').value;
        const copyNumbers = document.getElementById('modalCopyNumbers').value;

        // Logic to save these values (you can expand it as per your need)
        console.log({ docNo, docName, versionNo, effectiveDate, outputType, applyValue, pageLists, copyNumbers });
        alert('Changes saved successfully.');

        // Close modal after saving changes
        $('#editModal').modal('hide');
    }
</script>

