
@{
    ViewBag.Title = "alllinks";
    Layout = "~/Views/Shared/_OldDefault.cshtml";
}

<h2>alllinks</h2>

<div>
    <ul>         
        <li><a href="/OldHome/Index">Home</a></li>
        <li><a href="/OldHome/Databoxes">Databoxes</a></li>
        <li><a href="/OldHome/Widgets">Widgets</a></li>
    </ul>
</div>
