
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Empty.cshtml";
}
<!--Warning Modal Templates-->
@using (var modal = Html.Bootstrap().Begin(new Modal().Id("modal-warning").Fade().HtmlAttributes(new { @class = "modal-message modal-warning" })))
{
    using (var header = modal.BeginHeader())
    {
        <i class="fa fa-warning"></i>
    }
    using (var title = modal.BeginTitle())
    {
        <text>Below Fields are Missing</text>
    }
    using (var body = modal.BeginBody())
    {
        <text>Is something wrong?</text>
    }
    using (var footer = modal.BeginFooter())
    {
        @Html.Bootstrap().Button().Text("Ok").Color(BootstrapColors.Warning).HtmlAttributes(new { data_dismiss = "modal" })
    }
}
<!--End Warning Modal Templates-->
<!--Danger Modal Templates-->
@using (var modal = Html.Bootstrap().Begin(new Modal().Id("modal-danger").Fade().HtmlAttributes(new { @class = "modal-message modal-danger" })))
{
    using (var header = modal.BeginHeader())
    {
        <i class="glyphicon glyphicon-fire"></i>
    }
    using (var title = modal.BeginTitle())
    {
        <text>Error</text>
    }
    using (var body = modal.BeginBody())
    {
        <text>Message unable to send, Please try again later.</text>
    }
    using (var footer = modal.BeginFooter())
    {
        @Html.Bootstrap().Button().Text("Ok").Color(BootstrapColors.Danger).HtmlAttributes(new { data_dismiss = "modal" })
    }
}
<!--End Danger Modal Templates-->
<!--Success Modal Templates-->
@using (var modal = Html.Bootstrap().Begin(new Modal().Id("modal-success").Fade().HtmlAttributes(new { @class = "modal-message modal-success" })))
{
    using (var header = modal.BeginHeader())
    {
        <i class="glyphicon glyphicon-check"></i>
    }
    using (var title = modal.BeginTitle())
    {
        <text>Success</text>
    }
    using (var body = modal.BeginBody())
    {
        <text>Customer Saved Successfully.</text>
    }
    using (var footer = modal.BeginFooter())
    {
        @Html.Bootstrap().Button().Text("Ok").Color(BootstrapColors.Success).Id("btnOKSucess").HtmlAttributes(new { data_dismiss = "modal" })
    }
}
<div class="login-container animated fadeInDown">
    <div class="loginbox bg-white" style="border: #2dc3e8 1px solid">

        <br />
        <div class="loginbox-title">
            Forgot Password
            <div class="loginbox-or">
                <div class="or-line"></div>
            </div>
        </div>
        <br />
        
        <div class="loginbox-textbox">
            <input type="text" class="form-control" placeholder="Email" id="txtEmail" />
        </div>
        <div class="loginbox-textbox">
            <input type="text" class="form-control" placeholder="Mobile" id="txtMobile" />
        </div>

        @*<div class="loginbox-submit">
            <input type="button" class="btn btn-primary btn-block btnsubmit" value="Submit" />
        </div>*@

        <div class="loginbox-submit">
            @Html.Bootstrap().SubmitButton().Text("Submit").Color(BootstrapColors.Azure).ButtonBlock()
        </div>

        <div class="loginbox-forgot" style="text-align: center;">
            <a href="~/Login" style="font-size:large; text-decoration:underline;margin-left: -50px;">I know my password</a>
        </div>
        
        <br />
    </div>
</div>
<div style="display:none;">
    <button class="btn btn-danger" data-toggle="modal" data-target="#modal-danger">Danger</button>
    <button class="btn btn-warning" data-toggle="modal" data-target="#modal-warning">Warning</button>
    <button class="btn btn-success" data-toggle="modal" data-target="#modal-success">Success</button>
</div>
@section PageScripts{
    <script src="~/assets/js/bootbox/bootbox.js"></script>
    <!--Bootstrap Date Picker-->
    <script src="~/assets/js/datetime/bootstrap-datepicker.js"></script>
    <!--Bootstrap Time Picker-->
    <script src="~/assets/js/datetime/bootstrap-timepicker.js"></script>

<!--Basic Scripts-->
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/slimscroll/jquery.slimscroll.min.js"></script>

<!--Beyond Scripts-->
<script src="~/assets/js/beyond.js"></script>

<script>
    $('#modal-success').on('hide.bs.modal', function () {
        //clear the values
        $("#txtMobile").val('');
        $("#txtEmail").val('');
       
        //After changing the password redirect to login
        //window.location = "/Login";
    })

    $(document).ready(function () {
        //alert('In Load...');
        //$('.loginbox-forgot').hide();
    });

    $('.btn-block').on('click', function () {
        //$('.loginbox-forgot').hide();
        $('#txtMobile').removeClass('manfieldredborder'); $('#txtEmail').removeClass('manfieldredborder');
        if ($('#txtMobile').val().trim() != '' && $('#txtEmail').val().trim() != '')
        {
            $.ajax({
                url: "/Login/GetPassword",
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                cache: false,
                data: JSON.stringify({ mobile: $('#txtMobile').val().trim(), email: $('#txtEmail').val().trim() }),
                success: function (data) {
                    //alert(data.message);
                    if (data.message == 'fail') {
                        $('.btn-danger').trigger('click');
                        $('.modal-body').html('Details not found...');
                    }
                    else if (data.message == 'execp') {
                        $('.btn-danger').trigger('click');
                        $('.modal-body').html('Error while sending the email with Password. Please contact Administrator.');
                    }
                    else {
                        var txt = 'Check the mail for password.';
                        //$('.loginbox-forgot').show();
                        //$('#lblmessage').text(txt).css('color', '1px red solid');
                        $('.btn-success').trigger('click');
                        $('.modal-body').html(txt);
                    }
                },
                error: function (xhr) {
                    //alert('error');
                }
            });
        }
        else
        {
            var ermsg = '';            
            if ($('#txtEmail').val().trim() == '') {
                ermsg = 'Email<br/>';
                $('#txtEmail').addClass('manfieldredborder');
            }
            else
                $('#txtEmail').removeClass('manfieldredborder');

            if ($('#txtMobile').val().trim() == '') {
                $('#txtMobile').addClass('manfieldredborder');
                ermsg += 'Mobile';
            }
            else
                $('#txtMobile').removeClass('manfieldredborder');

            if (ermsg != '') {
                $('.btn-warning').trigger('click');
                $('.modal-body').html(ermsg);
            }
            else {
                $('.modal-body').html('');         
            }
                        
            $('#txtEmail').val($('#txtEmail').val().trim());
            $('#txtMobile').val($('#txtMobile').val().trim());
        }
  });
</script>
}