
@{
    ViewBag.Title = "DMS - Inbox";
}
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header">
                <span class="widget-caption topfocus" tabindex='1' style="font-size:25px !important;"><b>Inbox</b></span>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div>
                            @*<h5>Colored Radio Buttons</h5>*@
                            <div class="control-group">
                                <div class="col-lg-3 col-sm-3 col-xs-2">
                                    <div class="radio"><label><input class="colored-danger" checked="checked" name="listtype" type="radio"><span class="text" id="rbnApprover"> As Approver - Pending</span></label></div>
                                </div>
                                <div class="col-lg-3 col-sm-3 col-xs-2">
                                    <div class="radio"><label><input class="colored-palegreen" name="listtype" type="radio"><span class="text" id="rbnApprovedItems"> As Approver - Completed</span></label></div>
                                </div>
                                <div class="col-lg-3 col-sm-3 col-xs-2">
                                    <div class="radio"><label><input class="colored-blue" name="listtype" type="radio" id="rbnUser"><span class="text"> As User - All</span></label></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div style="border: 1px solid #e5e5e5;padding: 10px;">
                            <div id="tblApprover">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <div style="text-align: center; font-size: 16px; background-color: antiquewhite; padding-top: 5px; padding-bottom: 5px; color: black;"><strong>Requests need my Approvals</strong></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <table class="table table-striped table-hover table-bordered" id="editabledatatableApprover">
                                            <thead>
                                                <tr role="row">
                                                    <th>SeqNo</th>
                                                    <th>ID</th>
                                                    <th>Request Type</th>
                                                    <th nowrap>
                                                        Document Number
                                                    </th>
                                                    <th>
                                                        Document Description
                                                    </th>
                                                    <th>
                                                        Department
                                                    </th>
                                                    <th>
                                                        Section
                                                    </th>
                                                    <th>
                                                        Project
                                                    </th>
                                                    <th nowrap>
                                                        Category
                                                    </th>
                                                    <th>
                                                        Created By
                                                    </th>
                                                    <th>
                                                        Created Date
                                                    </th>
                                                    <th>
                                                        Stage
                                                    </th>
                                                    <th>
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div id="tblApprovedItems" style="display:none;">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <div style="text-align: center; font-size: 16px; background-color: antiquewhite; padding-top: 5px; padding-bottom: 5px; color: black;"><strong>Requests Approved by me</strong></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <table class="table table-striped table-hover table-bordered" id="editabledatatableApprovedItems">
                                            <thead>
                                                <tr role="row">
                                                    <th>SeqNo</th>
                                                    <th>ID</th>
                                                    <th>Request Type</th>
                                                    <th nowrap>
                                                        Document Number
                                                    </th>
                                                    <th>
                                                        Document Description
                                                    </th>
                                                    <th>
                                                        Department
                                                    </th>
                                                    <th>
                                                        Section
                                                    </th>
                                                    <th>
                                                        Project
                                                    </th>
                                                    <th>
                                                        Created By
                                                    </th>
                                                    <th>
                                                        Created Date
                                                    </th>
                                                    <th>
                                                        Approved Stage
                                                    </th>
                                                    <th>
                                                        Approved On
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div id="tblUser" style="display:none;">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <div style="text-align: center; font-size: 16px; background-color: lightblue; padding-top: 5px; padding-bottom: 5px; color: black;"><strong>Requests created by Me</strong></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <table class="table table-striped table-hover table-bordered" id="editabledatatable">
                                            <thead>
                                                <tr role="row">
                                                    <th>SeqNo</th>
                                                    <th>ID</th>
                                                    <th>Request Type</th>
                                                    <th nowrap>
                                                        Document Number
                                                    </th>
                                                    <th>
                                                        Document Description
                                                    </th>
                                                    <th>
                                                        Department
                                                    </th>
                                                    <th>
                                                        Section
                                                    </th>
                                                    <th>
                                                        Project
                                                    </th>
                                                    <th nowrap>
                                                        Category
                                                    </th>
                                                    <th>
                                                        Created Date
                                                    </th>
                                                    <th>
                                                        Stage
                                                    </th>
                                                    <th>
                                                        View Details
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section PageScripts{

    <!--Bootstrap Tags Input-->
    <script src="~/assets/js/tagsinput/bootstrap-tagsinput.js"></script>

    <link href="~/assets/css/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/assets/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/datatable/ZeroClipboard.js"></script>
    <script src="~/assets/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/assets/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/datatable/datatables-init.js"></script>
    <script src="~/assets/js/bootbox/bootbox.js"></script>

    <script>
        $(document).ready(function () {
            InitiateInboxDataTable.init();
            InitiateApproverInboxDataTable.init();
            InitiateApprovedInboxDataTable.init();
            GetApproverRequests();

            $("#editabledatatable_filter").find('input[type="search"]').css("width", "250px");
            $("#editabledatatableApprover_filter").find('input[type="search"]').css("width", "250px");
            $("#editabledatatableApprovedItems_filter").find('input[type="search"]').css("width", "250px");
            
        });

        $("#rbnUser").click(function () {
            //alert('User button clicked' + this.value);
            $("#tblUser").show();
            $("#tblApprovedItems").hide();
            $("#tblApprover").hide();
            clearSearchInput("#editabledatatable");
            GetUserRequests();
        })
        $("#rbnApprover").click(function () {
            $("#tblUser").hide();
            $("#tblApprovedItems").hide();
            $("#tblApprover").show();
            clearSearchInput("#editabledatatableApprover");
            GetApproverRequests();
        });
        $("#rbnApprovedItems").click(function () {
            $("#tblUser").hide();
            $("#tblApprovedItems").show();
            $("#tblApprover").hide();
            clearSearchInput("#editabledatatableApprovedItems");
            GetApprovedRequests();
        })
        function clearSearchInput(tableSelector) {
            $(tableSelector).DataTable().search('').draw();
            $(`${tableSelector}_filter input`).val('');
        }


        function GetUserRequests() {
            //Delete all existing records
            //var table = $("#editabledatatable").dataTable();
            //var rowsCount = table.$('tr').length;
            //for (var z = 0; z < rowsCount; z++) {
            //    var nRow = table.$('tr')[z];
            //    table.fnDeleteRow(nRow);
            //}
            $("#editabledatatable").dataTable().fnDeleteRow();

            $.ajax({
                url: "/Inbox/GetUserRequests",
                dataType: "json",
                type: "POST",
                beforeSend: function () {
                    $("#overlay").show();
                    $("#overlay").addClass('modal-backdrop fade in');
                    $("#sidebar").addClass('modal-backdrop fade in');
                },
                complete: function () {
                    $("#overlay").hide();
                    $("#overlay").removeClass('modal-backdrop fade in');
                    $("#sidebar").removeClass('modal-backdrop fade in');
                },
                contentType: 'application/json; charset=utf-8',
                cache: false,
                //data: JSON.stringify({ department: dept, section: sec, category: category, project: project, DocumentDescription: $("#txtDescription").val().trim() }),
                success: function (data) {
                    if (data.success) {
                        if (data.message == 'error') {
                            $('.btn-danger').trigger('click');
                            $('.modal-body').html('Error While getting the user requests.');
                        }
                        else {
                            //Bind the data
                            for (var z = 0; z < data.message.length; z++) {
                                var detailsLink = '';

                                if (data.message[z].RequestType == 'Document Publish') {
                                    detailsLink = '<a  style="text-decoration:underline;" href="#" onclick="showDetails(\'' + data.message[z].DocumentID + '\',\'' + data.message[z].CurrentStage + '\');">View Details</a>';
                                }
                                else {
                                    detailsLink = '<a  style="text-decoration:underline;" href="#" onclick="showPrintDetails(\'' + data.message[z].DocumentID + '\',\'' + data.message[z].CurrentStage + '\');">View Details</a>';
                                }

                                var record = [data.message[z].SeqNo, data.message[z].DocumentID, data.message[z].RequestType, data.message[z].DocumentNo, data.message[z].DocumentDescription, data.message[z].DepartmentName, data.message[z].SectionName, data.message[z].ProjectName, data.message[z].DocumentCategoryName, ToJavaScriptDate(data.message[z].CreatedDate), data.message[z].CurrentStage, detailsLink];
                                $("#editabledatatable").dataTable().fnAddData(record);
                            }
                        }
                    }
                },
                error: function (xhr) {
                    $('.btn-danger').trigger('click');
                    $('.modal-body').html('Error while getting User Request.');
                }
            });
        }

        function GetApproverRequests() {
            //Delete all existing records
            //var table = $("#editabledatatableApprover").dataTable();
            //var rowsCount = table.$('tr').length;
            //for (var z = 0; z < rowsCount; z++) {
            //    var nRow = table.$('tr')[z];
            //    table.fnDeleteRow(nRow);
            //}
            $("#editabledatatableApprover").dataTable().fnDeleteRow();

            $.ajax({
                url: "/Inbox/GetApproverRequests",
                dataType: "json",
                type: "POST",
                beforeSend: function () {
                    $("#overlay").show();
                    $("#overlay").addClass('modal-backdrop fade in');
                    $("#sidebar").addClass('modal-backdrop fade in');
                },
                complete: function () {
                    $("#overlay").hide();
                    $("#overlay").removeClass('modal-backdrop fade in');
                    $("#sidebar").removeClass('modal-backdrop fade in');
                },
                contentType: 'application/json; charset=utf-8',
                cache: false,
                //data: JSON.stringify({ department: dept, section: sec, category: category, project: project, DocumentDescription: $("#txtDescription").val().trim() }),
                success: function (data) {
                    if (data.success) {
                        if (data.message == 'error') {
                            $('.btn-danger').trigger('click');
                            $('.modal-body').html('Error While getting the user requests.');
                        }
                        else {
                            //Bind the data
                            for (var z = 0; z < data.message.length; z++) {
                                var detailsLink = '';
                                if (data.message[z].RequestType == 'Document Publish') {
                                    detailsLink = '<a  style="text-decoration:underline;" href="#" onclick="ViewApproveRequest(\'' + data.message[z].DocumentID + '\');">Take Action</a>';
                                }
                                else {
                                    detailsLink = '<a  style="text-decoration:underline;" href="#" onclick="ViewApprovePrintRequest(\'' + data.message[z].DocumentID + '\');">Take Action</a>';
                                }
                                var record = [data.message[z].SeqNo, data.message[z].DocumentID, data.message[z].RequestType, data.message[z].DocumentNo, data.message[z].DocumentDescription, data.message[z].DepartmentName, data.message[z].SectionName, data.message[z].ProjectName, data.message[z].DocumentCategoryName, data.message[z].UploadedUserName, ToJavaScriptDate(data.message[z].CreatedDate), data.message[z].CurrentStage, detailsLink];
                                $("#editabledatatableApprover").dataTable().fnAddData(record);
                            }
                        }
                    }
                },
                error: function (xhr) {
                    $('.btn-danger').trigger('click');
                    $('.modal-body').html('Error while getting User Request.');
                }
            });
        }

        function GetApprovedRequests() {            
            $("#editabledatatableApprovedItems").dataTable().fnDeleteRow();

            $.ajax({
                url: "/Inbox/GetApprovedRequests",
                dataType: "json",
                type: "POST",
                beforeSend: function () {
                    $("#overlay").show();
                    $("#overlay").addClass('modal-backdrop fade in');
                    $("#sidebar").addClass('modal-backdrop fade in');
                },
                complete: function () {
                    $("#overlay").hide();
                    $("#overlay").removeClass('modal-backdrop fade in');
                    $("#sidebar").removeClass('modal-backdrop fade in');
                },
                contentType: 'application/json; charset=utf-8',
                cache: false,
                //data: JSON.stringify({ department: dept, section: sec, category: category, project: project, DocumentDescription: $("#txtDescription").val().trim() }),
                success: function (data) {
                    if (data.success) {
                        if (data.message == 'error') {
                            $('.btn-danger').trigger('click');
                            $('.modal-body').html('Error While getting the user requests.');
                        }
                        else {
                            //Bind the data
                            for (var z = 0; z < data.message.length; z++) {
                                var detailsLink = '';
                                //if (data.message[z].RequestType == 'Document Publish') {
                                //    detailsLink = '<a  style="text-decoration:underline;" href="#" onclick="ViewApproveRequest(\'' + data.message[z].DocumentID + '\');">Take Action</a>';
                                //}
                                //else {
                                //    detailsLink = '<a  style="text-decoration:underline;" href="#" onclick="ViewApprovePrintRequest(\'' + data.message[z].DocumentID + '\');">Take Action</a>';
                                //}

                                var record = [data.message[z].SeqNo, data.message[z].DocumentID, data.message[z].RequestType, data.message[z].DocumentNo, data.message[z].DocumentDescription, data.message[z].DepartmentName, data.message[z].SectionName, data.message[z].ProjectName, data.message[z].UploadedUserName, ToJavaScriptDate(data.message[z].CreatedDate), data.message[z].CurrentStage, ToJavaScriptDate(data.message[z].ModifiedDate)];
                                $("#editabledatatableApprovedItems").dataTable().fnAddData(record);
                            }
                        }
                    }
                },
                error: function (xhr) {
                    $('.btn-danger').trigger('click');
                    $('.modal-body').html('Error while getting User Request.');
                }
            });
        }


        function showDetails(docID, stage) {
            window.location = '/Request?ID=' + docID + '&stage=' + stage;
            //var windhref = '/Request?ID=' + docID;
            //window.open(windhref);
            //if (stage == 'Completed')
            //    window.location = '/Request/Details?IsHistory=false&ID=' + docID;
            //else
            //    window.location = '/Request?ID=' + docID;
        }
        function showPrintDetails(docID, stage) {
            //alert(docID + '-' + stage);
            window.location = '/PrintRequest/Details?ID=' + docID + '&stage=' + stage;
        }
        function ViewApproveRequest(docID) {
            //var windhref = '/ApproveRequest?ID=' + docID;
            //window.open(windhref);
            window.location =  '/ApproveRequest?ID=' + docID;
        }
        function ViewApprovePrintRequest(printID) {
            window.location = '/ApprovePrintRequest?ID=' + printID;
        }
    </script>
}

